


body {
    background: black;font-family: 'Teko', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.texto {
    
    font-size: 100px;
    text-align: center;
    color:lightseagreen;

    margin-top: 25px;margin-left: 10px;
}

p {font-size: 35px;}
button {
  text-decoration: none;
  
  font-size: 40px;
  color: whitesmoke;
  margin-left: 45%;
   position: relative;
  animation-name:logo;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;

}
.boton :hover {color:darkturquoise ;}
a {
    text-decoration: none;font-family: 'Teko', sans-serif;
}
.logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation-name:logo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;

}

@keyframes logo {
    from {
        top: 0px;

    }
    to {top:-100px;}
}



@media (max-width: 768px) {
    .body { color: whitesmoke}
    
    .texto {
        font-size: 50px;
        height: 70%;
      
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        
       
       
    }
    @keyframes logo {
        from {
            top: 0px;
    
        }
        to {top:-70px;}
    }
    .boton {
        margin-right: 130px;
        font-size: 35px;
    }
    a {
        text-decoration: none;font-family: 'Teko', sans-serif;
    }
    
}