* {box-sizing: border-box; margin: 0; padding: 0;font-family: 'Teko', sans-serif;}
body {background: black;}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.contenedor 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    background:black;
    
}
.titulo {
display: flex;
padding-top: 20px;
font-size: 35px;
justify-content: center;
padding-top: 10%;

}
.formulario {
   background: whitesmoke;
    width: 800px;
    height: 450px; 
    padding-top: 20px;
    border-radius: 10%;
    margin-top: 40px;
  
    
} 
input {width: 250px; height: 30px;margin-left: 32%; background: rgba(32, 178, 171, 0.534); font-size: 20px; }
select {width: 250px; height: 30px;margin-left: 32%;background: rgba(32, 178, 171, 0.534); font-size: 20px;}
label { font-size: 25px; margin-left: 32%; }

button {font-size: 20px; margin-left: 10%; background: rgba(32, 178, 171, 0.534);padding: 8px; margin-top: 10px; }
.buy{ margin-left: 35%;}
.buy :hover {background: purple;}
.titulo {color: whitesmoke;}


@media (max-width: 768px) {
    
    .titulo {
        display: flex;
        padding-top: 20px;
        font-size: 25px;
        justify-content: center;
        padding-top: 30%;
        
    }
    .formulario {
     width: 380px; 
    }
    input {width: 250px; height: 30px;margin-left: 20%; background: rgba(32, 178, 171, 0.534); font-size: 20px; }
    select {width: 250px; height: 30px;margin-left: 20%;background: rgba(32, 178, 171, 0.534); font-size: 20px;}
    label { font-size: 25px; margin-left: 15%; }
    
    button {font-size: 20px; margin-left: 5%; background: rgba(32, 178, 171, 0.534);padding: 8px; margin-top: 10px; }
}